---
import Section from '@/components/Section.astro'

import { basics } from "@cv"

const { summary } = basics

const experienceYears = new Date().getFullYear() - 2021 +1; // +1 to include the current year

---

<Section title="About">
<p>
    +{experienceYears} {summary}
</p>

</Section>

