---
import Section from '@/components/Section.astro'

import { basics } from "@cv"

const { summary } = basics

const experienceYears = new Date().getFullYear() - 2021 +1; // +1 to include the current year

---

<Section title="About" emoji="📜">
<p class="text-gray-800 dark:text-gray-200">
    +{experienceYears} {summary}
</p>

</Section>

