---
import Section from '@/components/Section.astro'

import { skills } from '@cv'
---

<Section title="Skills" emoji="🛠">

    <ul>
        {skills.map(({name}) => (
            <li class="bg-gray-800 text-white">{name}</li>
        ))}
    </ul>

</Section>

<style>
    ul {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    li {
        border-radius: 6px;
        font-size: .8rem;
        font-weight: 500;
        padding: .3rem .6rem;

    }
</style>